.city__wrapp{
    margin: 0 0 61px;
    padding: 0 0 4.5px;
    border-radius: 5px;
    box-shadow: $shadow;
    background-color: $white;
}


.city__wrapp-title{
    background-color: $cityBack;  
    padding: 18.5px 38.8px 19.5px 40.2px;
    border-radius: 5px 5px 0 0;
    text-align: center;
    color:$white;
    font-weight: 600;
    font-size: 1.67rem;
    line-height: 25px;
}

.city__wrapp-box{
    align-items: baseline;
    padding: 39px 44px;
    justify-content: space-evenly;
}

.city__wrapp-link{
    display: block;
    font-weight: 400;
    font-size: .89rem;
    line-height: 31px;
    color:#181818;
}


.white-popup{
    max-width: 985px;
    margin: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.mfp-close-btn-in{
    .mfp-close {
    color: rgba(0,0,0,0);
    top: 15px;
    right: 17px;
    opacity: 1;
    &::before{
        content: url("../img/close.svg");
        position: absolute;
        top: -1px;
        left: 12px;
        z-index: 234;
        
    }
}

} 

.filter{
    padding-bottom: 208px;
}

