
.filter__col{
    margin: 0 auto;
    
}
.plate-wrap{
    box-shadow: $shadow;
    margin: 20px  0 40px;
}

.filter__row-two{
    margin-bottom: 48px;
}

.filtor__city{
    display: block;
    width: 216px;
    height: 44px;
    padding: 12.5px 15px 13.5px 15.2px;
    border-radius: 3px;
    box-shadow: $shadow;
    background-color: $white;
    position: relative;

    font-size: .83rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    text-align: left;
    color: #373737;

    &::after{
        content: url('../img/next.svg');
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.form__checbox-text{
    font-size: .83rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.67;
    text-align: left;
    color: $white;

    position: relative;
    cursor: pointer; 
    &::before{
        content: url('../img/label.png');
        position: absolute;
        top: -5px;
        left: -40px;
        width: 24px;
        height: 24px;
        box-shadow: 0px 17px 24px 0 rgba(0, 0, 0, 0.25);
    }
}

.form__checbox{
    opacity: 0;
}

.form__checbox:checked   + .form__checbox-text::after{
    content: url('../img/label__active.png');
    position: absolute;
    left: -34px;
    top: 0px;
    box-shadow: $shadow;
}

.filter__input-number{
    width: 216px;
    height: 44px;
    padding: 12.5px 15.8px 13.5px;
    border-radius: 3px;
    box-shadow: $shadow;
    background-color: $white;

    font-size: .83rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: left;
    color: #373737;
    }

.filter__row-three{
    justify-content: end;
}

/*-------media------*/
@media(max-width: 1200px){
    .form__checbox-text {
        font-size: .76rem;
        }

    .block__title-text {
        font-weight: 600;
        font-size: .93rem;
        }
    .filter{
        .block__title-text {
        font-weight: 600;
        font-size: .93rem;
        }
    }  
}

@media(max-width: 991px){
    .filter__box{
        flex-wrap: wrap;
        width: 53%;
        

        .col-3{
            width: 50%;
            margin-bottom: 30px;
            }
    }

    .filter__row-two{
        align-items: unset;
        }
    
    .filter__row-three{
        .col-3{
            width: 33%;
        }
    }

    .filter__col{
        width: 100%;
    }
}

@media(max-width: 880px){
    .city__wrapp-box{     
        .col-3{
        width: 300px;
        margin-bottom: 20px;
        }
    }
    .mfp-inline-holder .mfp-content {
        width: 300px;
        left: -15px;
        }
}

@media(max-width: 770px){
    .filter__row-two{
        width: 100%;
        flex-direction: column;
        .col-3{
            width: 100%;
            margin-bottom: 30px;
            margin-left: -5px;
        }
        
        .filter__box{
            flex-direction: column;

            .col-3{
                width: 100%;
            }
        }
    }

    .filter__box{
        width: 100%;
        margin-left: 0;
        }

    .filter__row-three{
        width: 100%;
        flex-direction: column;
        .col-3{
            width: 100%;
            margin-bottom: 20px;
            margin-left: -5px;
        }
    }
    .plate-wrap {
        margin-left: 12px;
        }
}

@media(max-width: 500px){

    .plate-wrap {
        width: 307px;
        }
}

