.footer{
    background-color:$black;
    .footer-text{
        opacity: 0.5;
        font-size: 0.84rem;
        font-weight: 500;
        line-height: 1.67;
        text-align: center;
        color: $white;
        padding: 18px 0;
        margin: 0 auto;
        }
}