.header{
    padding: 25px 0 72px;
}
.row{
    justify-content: space-between;
    align-items: center;    
}

.header__link{
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: $white;
    position: relative;
    text-align: right;

    &::before{
        content: url("../../img/header__icon.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
    }
}




