.header{
    padding: 25px 0 72px;
}
.row{
    justify-content: space-between;
    align-items: center;    
}

.header__link{
    display: block;
    font-weight: 600;
    font-size: 1rem;
    color: $white;
    position: relative;
    text-align: right;

    &::before{
        content: url("../img/header__icon.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
    }
}
/*-----------media---------------*/
@media(max-width: 1200px){
    .header{
        .col-2{            
        width: 17.66667%;
        } 
    }     
}

@media(max-width: 992px){
    .header__link{
        width: 140px;
        font-size: 0.9rem;
    }
}

@media(max-width: 680px){
    .header__link{
        width: 40px;
        height: 40px;
        font-size: 1px;
        color: rgba(0,0,0,0);

        &::before{
            left: 0;
        }
    }   
}


