.login{
    padding-bottom: 150px;
    .row{
        justify-content: center;
    }
}

.login__wrapp{
        background:$white;
        border-radius: $radius;
        box-shadow: $shadow;
    .nav{
        justify-content: space-between;
        border: none;
        padding-top: 20px;
    }
    .nav-item{
        .nav-link{
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.1;
            color:$loginBtnColor;
            padding: 0;
            margin-bottom: 15px;
            &:hover{
                border: none;
                font-weight: 700;
                border-bottom:1px dashed $loginBtnColor;
                }
        }
        

        .active{
            font-weight: 700;
            background:rgba(0,0,0,0);
            border: none;
            border-bottom:1px dashed $loginBtnColor;
            padding: 0;
        }
    }
}
    

.tab-content{
        padding:0  25px 30px;     

        .row{
                margin: 0 auto 10px; 
            }

        label{        
            font-size: .78rem;
            font-weight: 400;
            line-height: 1.19;
            color: $dark;
            padding-bottom: 5px;
            }
            
        input{
            font-size: .8rem;
            border: 1px solid $blue;
            border-radius: 5px; 
            padding: 15px 10px;
            }

        .login__text{
            font-size: .78rem;
            font-style: italic;
            font-weight: 400;
            line-height: 1.19;
            padding-bottom: 10px;
            }
}

.login__btn{
    width: 100%;
    font-weight: 400;
    font-size: 0.8rem;
     line-height: 1.19;
    background: $loginBtnColor;
    padding: 15px;
}

/*------------media--------*/
@media(max-width: 992px){
    .login__wrapp{
        .col-4{
            width: 200px;
        }
    }
}

@media(max-width: 580px){
    .login{
        .col-8{
            width: 95%;
        }
    }
}