.nomer{
    padding: 87px 0 97px;
    background: url('../img/nomer__back.png') no-repeat center center/cover;
}
.nomer__title-text{
    font-weight: 300;
    font-size: 2rem;
    line-height: 43.2px;
}
.col-auto{
    padding: 0;
    margin: 0 auto 15px;
}
.nomer__wrapp{   
    display: block;
    padding: 29px 28px 20.5px;
    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $white;
    text-align: center;
    &-img{
        width: 209px;
        height: 44px;
        margin-bottom: 15px;
    }

    &-title{
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        color: $dark;
        padding-bottom: 9px;
    }
    &-text{            
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 0.83;
        color: $blue;
    }
}

/*--media--*/

@media(max-width: 580px){
    .nomer{
        margin-top: 20px;
        .row-cols-4{
            flex-direction: column;
        }
    }
}

@media(max-width: 400px){
    .nomer{
        .block__title{
            font-size: 2rem;
            
        }
    }
}