<section class="buy">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <h1 class='buy__title'>
                    Купить гос номер М001*М 777
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <img class='buy__img' src="img/auto__buy.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="buy__box-one">
                    <h3 class="buy__conteiner-title">
                        MAIBAX
                    </h3>
                    <div class="buy__line">
                        <h3 class="buy__line-title">
                            Цена:
                        </h3>
                        <p class="buy__line-text buy__line-text-color">
                            1 500 000 Р
                        </p>
                    </div>
                    <div class="buy__line">
                        <h3 class="buy__line-title">
                            Дата:
                        </h3>
                        <p class="buy__line-text">
                            17.08.2021
                        </p>
                    </div>
                    <div class="buy__line">
                        <h3 class="buy__line-title">
                            Регион гос номера:
                        </h3>
                        <p class="buy__line-text">
                            Москва
                        </p>
                    </div>
                    <div class="buy__line">
                        <h3 class="buy__line-title">
                            Находится в городе:
                        </h3>
                        <p class="buy__line-text">
                            Москва
                        </p>
                    </div>
                    <div class="buy__line">
                        <h3 class="buy__line-title">
                            Переоформление:
                        </h3>
                        <p class="buy__line-text">
                            Включено в стоимость.
                        </p>
                    </div>
                    <div class="buy__line">
                        <h3 class="buy__line-title">
                            Наличие:
                        </h3>
                        <p class="buy__line-text">
                            Номер на автомобиле
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="buy__box">
                    <img class="buy__box-img" src="img/autar.svg" alt="">
                    <div class="buy__box-conteiner">
                        <h3 class="buy__conteiner-title">
                            MAIBAX
                        </h3>
                        <a class="buy__conteiner-link" href="#">
                            Показать все объявления (2)
                        </a>
                        <p class="buy__conteiner-text">
                            + 7 ( 906 ) *** ** **
                        </p>
                        <a href="#" class="btn-tell">
                            Показать телефон
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>