<section class="filter">
    <div class="container">
        <div class="row block__title">
            <div class="col-12">
                <h1 class="block__title-title">
                    Купить красивый номер на машину
                </h1>
                <p class="block__title-text">
                    В Москве красивые автомобильные номера, в настоящее время, купить легально можно только у их
                    прежних<br>
                    собственников. На нашем портале более 12 300 предложений в Москве, выберете для вас подходящее и
                    согласуйте<br> нюансы переоформления с его владельцем.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-5 filter__col">
                <form action="#" method="get" class="filter__form form">
                    <div class="select-wrapper">
                        <div class="row">
                            <div class="col-auto">
                                <div class="plate-wrap ">
                                    <div class="inp-wrap">
                                        <div class="dropdown">
                                            <input type="text" id="numb-1" maxlength="1" value="" placeholder="a"
                                                class="filter-input" data-letters="1" data-nomer="1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <ul class="dropdown-menu" aria-labelledby="numb-1">
                                                <li><a data-value="" href="javascript:;">*</a></li>
                                                <li><a href="javascript:;" data-value="А">А</a></li>
                                                <li><a href="javascript:;" data-value="В">В</a></li>
                                                <li><a href="javascript:;" data-value="Е">Е</a></li>
                                                <li><a href="javascript:;" data-value="К">К</a></li>
                                                <li><a href="javascript:;" data-value="М">М</a></li>
                                                <li><a href="javascript:;" data-value="Н">Н</a></li>
                                                <li><a href="javascript:;" data-value="О">О</a></li>
                                                <li><a href="javascript:;" data-value="Р">Р</a></li>
                                                <li><a href="javascript:;" data-value="С">С</a></li>
                                                <li><a href="javascript:;" data-value="Т">Т</a></li>
                                                <li><a href="javascript:;" data-value="У">У</a></li>
                                                <li><a href="javascript:;" data-value="Х">Х</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown">
                                            <input type="text" id="numb-2" maxlength="1" value="" placeholder="0"
                                                class="filter-input" data-numbers="1" data-nomer="1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <ul class="dropdown-menu" aria-labelledby="numb-2">
                                                <li><a data-value="" href="javascript:;">*</a></li>
                                                <li><a href="javascript:;" data-value="0">0</a></li>
                                                <li><a href="javascript:;" data-value="1">1</a></li>
                                                <li><a href="javascript:;" data-value="2">2</a></li>
                                                <li><a href="javascript:;" data-value="3">3</a></li>
                                                <li><a href="javascript:;" data-value="4">4</a></li>
                                                <li><a href="javascript:;" data-value="5">5</a></li>
                                                <li><a href="javascript:;" data-value="6">6</a></li>
                                                <li><a href="javascript:;" data-value="7">7</a></li>
                                                <li><a href="javascript:;" data-value="8">8</a></li>
                                                <li><a href="javascript:;" data-value="9">9</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown">
                                            <input type="text" id="numb-3" maxlength="1" value="" placeholder="0"
                                                class="filter-input" data-numbers="1" data-nomer="1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <ul class="dropdown-menu" aria-labelledby="numb-3">
                                                <li><a data-value="" href="javascript:;">*</a></li>
                                                <li><a href="javascript:;" data-value="0">0</a></li>
                                                <li><a href="javascript:;" data-value="1">1</a></li>
                                                <li><a href="javascript:;" data-value="2">2</a></li>
                                                <li><a href="javascript:;" data-value="3">3</a></li>
                                                <li><a href="javascript:;" data-value="4">4</a></li>
                                                <li><a href="javascript:;" data-value="5">5</a></li>
                                                <li><a href="javascript:;" data-value="6">6</a></li>
                                                <li><a href="javascript:;" data-value="7">7</a></li>
                                                <li><a href="javascript:;" data-value="8">8</a></li>
                                                <li><a href="javascript:;" data-value="9">9</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown">
                                            <input type="text" id="numb-4" maxlength="1" value="" placeholder="0"
                                                class="filter-input" data-numbers="1" data-nomer="1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <ul class="dropdown-menu" aria-labelledby="numb-4">
                                                <li><a data-value="" href="javascript:;">*</a></li>
                                                <li><a href="javascript:;" data-value="0">0</a></li>
                                                <li><a href="javascript:;" data-value="1">1</a></li>
                                                <li><a href="javascript:;" data-value="2">2</a></li>
                                                <li><a href="javascript:;" data-value="3">3</a></li>
                                                <li><a href="javascript:;" data-value="4">4</a></li>
                                                <li><a href="javascript:;" data-value="5">5</a></li>
                                                <li><a href="javascript:;" data-value="6">6</a></li>
                                                <li><a href="javascript:;" data-value="7">7</a></li>
                                                <li><a href="javascript:;" data-value="8">8</a></li>
                                                <li><a href="javascript:;" data-value="9">9</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown">
                                            <input type="text" id="numb-5" maxlength="1" value="" placeholder="a"
                                                class="filter-input" data-letters="1" data-nomer="1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <ul class="dropdown-menu" aria-labelledby="numb-5">
                                                <li><a data-value="" href="javascript:;">*</a></li>
                                                <li><a href="javascript:;" data-value="А">А</a></li>
                                                <li><a href="javascript:;" data-value="В">В</a></li>
                                                <li><a href="javascript:;" data-value="Е">Е</a></li>
                                                <li><a href="javascript:;" data-value="К">К</a></li>
                                                <li><a href="javascript:;" data-value="М">М</a></li>
                                                <li><a href="javascript:;" data-value="Н">Н</a></li>
                                                <li><a href="javascript:;" data-value="О">О</a></li>
                                                <li><a href="javascript:;" data-value="Р">Р</a></li>
                                                <li><a href="javascript:;" data-value="С">С</a></li>
                                                <li><a href="javascript:;" data-value="Т">Т</a></li>
                                                <li><a href="javascript:;" data-value="У">У</a></li>
                                                <li><a href="javascript:;" data-value="Х">Х</a></li>
                                            </ul>
                                        </div>
                                        <div class="dropdown">
                                            <input type="text" id="numb-6" maxlength="1" value="" placeholder="a"
                                                class="filter-input" data-letters="1" data-nomer="1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <ul class="dropdown-menu" aria-labelledby="numb-6">
                                                <li><a data-value="" href="javascript:;">*</a></li>
                                                <li><a href="javascript:;" data-value="А">А</a></li>
                                                <li><a href="javascript:;" data-value="В">В</a></li>
                                                <li><a href="javascript:;" data-value="Е">Е</a></li>
                                                <li><a href="javascript:;" data-value="К">К</a></li>
                                                <li><a href="javascript:;" data-value="М">М</a></li>
                                                <li><a href="javascript:;" data-value="Н">Н</a></li>
                                                <li><a href="javascript:;" data-value="О">О</a></li>
                                                <li><a href="javascript:;" data-value="Р">Р</a></li>
                                                <li><a href="javascript:;" data-value="С">С</a></li>
                                                <li><a href="javascript:;" data-value="Т">Т</a></li>
                                                <li><a href="javascript:;" data-value="У">У</a></li>
                                                <li><a href="javascript:;" data-value="Х">Х</a></li>
                                            </ul>
                                        </div>

                                        <div class="dropdown region-wrap">
                                            <input type="text" maxlength="3" value="" class="filter-input region-code"
                                                id="region-code" placeholder="77" readonly="true" data-numbers="1"
                                                data-region="1" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <ul class="dropdown-menu" id="rcode-dropdown" aria-labelledby="region-code">
                                                <li><a data-value="" href="javascript:;">*</a></li>
                                                <li><a data-value="77" href="javascript:;">77</a>
                                                </li>
                                                <li><a data-value="97" href="javascript:;">97</a>
                                                </li>
                                                <li><a data-value="99" href="javascript:;">99</a>
                                                </li>
                                                <li><a data-value="177" href="javascript:;">177</a>
                                                </li>
                                                <li><a data-value="197" href="javascript:;">197</a>
                                                </li>
                                                <li><a data-value="199" href="javascript:;">199</a>
                                                </li>
                                                <li><a data-value="777" href="javascript:;">777</a>
                                                </li>
                                                <li><a data-value="797" href="javascript:;">797</a>
                                                </li>
                                                <li><a data-value="799" href="javascript:;">799</a>
                                                </li>
                                            </ul>
                                            <div class="flag">
                                                <ul class="flag-list">
                                                    <li class="flag-list_item item-rus">RUS</li>
                                                    <li class="flag-list_item item-border">
                                                        <ul class="flag-list__border">
                                                            <li class=" white-item"></li>
                                                            <li class=" blue-item"></li>
                                                            <li class=" red-item"></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row filter__row-two">
            <div class="col-3">
                <a href="#" class="filtor__city">
                    Выберите город
                </a>
            </div>
            <div class="col-2">
                <label class='filter__label'>
                    <input class="form__checbox" type="checkbox">
                    <span class="form__checbox-text">
                        Одинаквые буквы
                    </span>
                </label>
            </div>
            <div class="col-2">
                <label class='filter__label'>
                    <input class="form__checbox" type="checkbox">
                    <span class="form__checbox-text">
                        Одинаквые цифры
                    </span>
                </label>
            </div>
            <div class="col-2">
                <label class='filter__label'>
                    <input class="form__checbox" type="checkbox">
                    <span class="form__checbox-text">
                        Первая десятка
                    </span>
                </label>
            </div>
            <div class="col-2">
                <label class='filter__label'>
                    <input class="form__checbox" type="checkbox">
                    <span class="form__checbox-text">
                        Ровная сотня
                    </span>
                </label>
            </div>
        </div>
        <div class="row filter__row-three">
            <div class="col-3">
                <input type="text" class="filter__input-number" placeholder="Цена от:">
            </div>
            <div class="col-3">
                <input type="text" class="filter__input-number" placeholder="Цена до:">
            </div>
        </div>
    </div>
</section>
<div class="city">
    <div class="container">
        <div class="col-10">
            <div class="city__wrapp">
                <div class="city__wrapp-title">
                    Выберете регион
                </div>
                <div class="row city__wrapp-box">
                    <div class="col-3">
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Любой регион
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Москва
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Московская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Санкт-Петербург
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Адыгея
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Алтай
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Алтайский край
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Амурская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Архангельская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Астраханская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Башкортостан
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Белгородская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Брянская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Бурятия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Владимирская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Волгоградская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Вологодская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Воронежская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Дагестан
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Еврейская автономная область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Забайкальский край
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ивановская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ингушетия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Иркутская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Кабардино-Балкария
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Калининградская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Калмыкия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Калужская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Камчатский край
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Карачаево-Черкессия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Карелия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Кемеровская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Кировская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Коми
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Костромская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Краснодарский край
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Красноярский край
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Курганская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Курская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ленинградская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Липецкая область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Магаданская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Марий Эл
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Мордовия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Мурманская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ненецкий АО
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Нижегородская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Новгородская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Новосибирская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Омская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Оренбургская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Орловская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Пензенская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Пермский край
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Приморский край
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Псковская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Республика Крым
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ростовская область
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Рязанская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Самарская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Саратовская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Саха (Якутия)
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Сахалинская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Свердловская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Севастополь
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Северная Осетия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Смоленская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ставропольский край
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Тамбовская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Татарстан
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Тверская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Томская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Тульская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Тыва
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Тюменская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Удмуртия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ульяновская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Хабаровский край
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Хакасия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ханты-Мансийский АО - Югра
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Челябинская область
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Чечня
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Чувашия
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Чукотский АО
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ямало-Ненецкий АО
                        </a>
                        <a class="city__wrapp-link" href="#" class="city__wrapp-link">
                            Ярославская область
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>