<section class="new">
    <div class="container">
        <h3 class="new__title">
            НАЗВАНИЕ БЛОКА
        </h3>
        <div class="new__wrapp">
            <div class="new__wrapp-box">
                <div class="new__wrapp-inner">
                    <span class='new__wrapp-span'>
                        1
                    </span>
                    <h3 class="new__inner-title">
                        Вы покупаете наш автомобиль-донар
                        уже с выбранными номерами
                    </h3>
                </div>
                <div class="new__wrapp-container">
                    <div class="new__container-col">
                        <img src="./img/new/man__3.svg" alt="">
                        <h3 class="new__col-text">
                            Покупатель
                        </h3>
                    </div>
                    <img class='new__wrapp-img' src="./img/new/car.svg" alt="">
                    <div class="new__container-col">
                        <img src="./img/new/man__4.svg" alt="">
                        <h3 class="new__col-text">
                            Продавец
                        </h3>
                    </div>

                </div>
            </div>

            <div class="new__wrapp-box">
                <div class="new__wrapp-inner">
                    <span class='new__wrapp-span'>
                        2
                    </span>
                    <h3 class="new__inner-title">
                        Снимаете номер с донара
                        и сохраняете его за собой
                    </h3>
                </div>
                <div class="new__wrapp-container">
                    <div class="new__container-col">
                        <img src="./img/new/man__1.png" alt="">
                        <h3 class="new__col-text">
                            Покупатель
                        </h3>
                    </div>
                    <img class='new__wrapp-img new__wrapp-home' src="./img/new/home.png" alt="">
                </div>
            </div>

            <div class="new__wrapp-box">
                <div class="new__wrapp-inner">
                    <span class='new__wrapp-span'>
                        3
                    </span>
                    <h3 class="new__inner-title">
                        Вы продаете обратно продавцу
                        наш автомобиль-донор
                    </h3>
                </div>
                <div class="new__wrapp-container">
                    <div class="new__container-col">
                        <img src="./img/new/man__2.svg" alt="">
                        <h3 class="new__col-text">
                            Покупатель
                        </h3>
                    </div>
                    <img class='new__wrapp-img new__wrapp-img-2' src="./img/new/img.svg" alt="">
                    <div class="new__container-col new__container-col-img">
                        <img src="./img/new/man__1.svg" alt="">
                        <h3 class="new__col-text">
                            Продавец
                        </h3>
                    </div>

                </div>
            </div>

            <div class="new__wrapp-box">
                <div class="new__wrapp-inner">
                    <span class='new__wrapp-span'>
                        4
                    </span>
                    <h3 class="new__inner-title">
                        Вы забираете номер с хранениея
                        и вешаете его на свое авто
                    </h3>
                </div>
                <div class="new__wrapp-container">
                    <div class="new__container-col">
                        <img src="./img/new/man__2.svg" alt="">
                        <h3 class="new__col-text">
                            Продавец
                        </h3>
                    </div>
                    <img class='new__wrapp-img' src="./img/new/car_2.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>