<section class="nomer">
    <div class="container">
        <div class="row block__title">
            <div class="col-12">
                <h1 class="block__title-title">
                    ЭКСЛЮЗИВНЫЕ НОМЕРА
                </h1>
                <p class="block__title-text nomer__title-text">
                    В МОСКВЕ
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col">
                <a class="nomer__wrapp" href='#'>
                    adfsadf
                </a>
            </div>
        </div>

    </div>
</section>