<section class="nomer">
    <div class="container">
        <div class="row block__title">
            <div class="col-12">
                <h1 class="block__title-title">
                    ЭКСЛЮЗИВНЫЕ НОМЕРА
                </h1>
                <p class="block__title-text nomer__title-text">
                    В МОСКВЕ
                </p>
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col-auto">
                <a class="nomer__wrapp" href='#'>
                    <img src="img/auto.jpg" alt="" class="nomer__wrapp-img">
                    <div class="nomer__wrapp-box">
                        <h3 class="nomer__wrapp-title">
                            MAIBAX
                        </h3>
                        <p class="nomer__wrapp-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a class="nomer__wrapp" href='#'>
                    <img src="img/auto.jpg" alt="" class="nomer__wrapp-img">
                    <div class="nomer__wrapp-box">
                        <h3 class="nomer__wrapp-title">
                            MAIBAX
                        </h3>
                        <p class="nomer__wrapp-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a class="nomer__wrapp" href='#'>
                    <img src="img/auto.jpg" alt="" class="nomer__wrapp-img">
                    <div class="nomer__wrapp-box">
                        <h3 class="nomer__wrapp-title">
                            MAIBAX
                        </h3>
                        <p class="nomer__wrapp-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a class="nomer__wrapp" href='#'>
                    <img src="img/auto.jpg" alt="" class="nomer__wrapp-img">
                    <div class="nomer__wrapp-box">
                        <h3 class="nomer__wrapp-title">
                            MAIBAX
                        </h3>
                        <p class="nomer__wrapp-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a class="nomer__wrapp" href='#'>
                    <img src="img/auto.jpg" alt="" class="nomer__wrapp-img">
                    <div class="nomer__wrapp-box">
                        <h3 class="nomer__wrapp-title">
                            MAIBAX
                        </h3>
                        <p class="nomer__wrapp-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a class="nomer__wrapp" href='#'>
                    <img src="img/auto.jpg" alt="" class="nomer__wrapp-img">
                    <div class="nomer__wrapp-box">
                        <h3 class="nomer__wrapp-title">
                            MAIBAX
                        </h3>
                        <p class="nomer__wrapp-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a class="nomer__wrapp" href='#'>
                    <img src="img/auto.jpg" alt="" class="nomer__wrapp-img">
                    <div class="nomer__wrapp-box">
                        <h3 class="nomer__wrapp-title">
                            MAIBAX
                        </h3>
                        <p class="nomer__wrapp-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div class="col-auto">
                <a class="nomer__wrapp" href='#'>
                    <img src="img/auto.jpg" alt="" class="nomer__wrapp-img">
                    <div class="nomer__wrapp-box">
                        <h3 class="nomer__wrapp-title">
                            MAIBAX
                        </h3>
                        <p class="nomer__wrapp-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>