<section class="slider">
    <div class="container">
        <div class="row block__title">
            <div class="col-12">
                <h1 class="block__title-title">
                    ОБЪЯВЛЕНИЯ С ФОТО
                </h1>
            </div>
        </div>

        <div class="slider__wrapp">
            <div>
                <a class="slider__box" href='#'>
                    <img class="slider__box-img" src="img/slider1.jpg" alt="">
                    <div class="slider__box-conteiner">
                        <img class="slider__conteiner-img" src="img/auto.jpg" alt="">
                        <h3 class="slider__conteiner-title">
                            MAIBAX
                        </h3>
                        <p class="slider__conteiner-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div>
                <a class="slider__box" href='#'>
                    <img class="slider__box-img" src="img/slider2.jpg" alt="">
                    <div class="slider__box-conteiner">
                        <img class="slider__conteiner-img" src="img/auto.jpg" alt="">
                        <h3 class="slider__conteiner-title">
                            MAIBAX
                        </h3>
                        <p class="slider__conteiner-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div>
                <a class="slider__box" href='#'>
                    <img class="slider__box-img" src="img/slider3.jpg" alt="">
                    <div class="slider__box-conteiner">
                        <img class="slider__conteiner-img" src="img/auto.jpg" alt="">
                        <h3 class="slider__conteiner-title">
                            MAIBAX
                        </h3>
                        <p class="slider__conteiner-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>
            <div>
                <a class="slider__box" href='#'>
                    <img class="slider__box-img" src="img/slider4.jpg" alt="">
                    <div class="slider__box-conteiner">
                        <img class="slider__conteiner-img" src="img/auto.jpg" alt="">
                        <h3 class="slider__conteiner-title">
                            MAIBAX
                        </h3>
                        <p class="slider__conteiner-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>
            <div>
                <a class="slider__box" href='#'>
                    <img class="slider__box-img" src="img/slider1.jpg" alt="">
                    <div class="slider__box-conteiner">
                        <img class="slider__conteiner-img" src="img/auto.jpg" alt="">
                        <h3 class="slider__conteiner-title">
                            MAIBAX
                        </h3>
                        <p class="slider__conteiner-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>

            <div>
                <a class="slider__box" href='#'>
                    <img class="slider__box-img" src="img/slider2.jpg" alt="">
                    <div class="slider__box-conteiner">
                        <img class="slider__conteiner-img" src="img/auto.jpg" alt="">
                        <h3 class="slider__conteiner-title">
                            MAIBAX
                        </h3>
                        <p class="slider__conteiner-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>
            <div>
                <a class="slider__box" href='#'>
                    <img class="slider__box-img" src="img/slider3.jpg" alt="">
                    <div class="slider__box-conteiner">
                        <img class="slider__conteiner-img" src="img/auto.jpg" alt="">
                        <h3 class="slider__conteiner-title">
                            MAIBAX
                        </h3>
                        <p class="slider__conteiner-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>
            <div>
                <a class="slider__box" href='#'>
                    <img class="slider__box-img" src="img/slider4.jpg" alt="">
                    <div class="slider__box-conteiner">
                        <img class="slider__conteiner-img" src="img/auto.jpg" alt="">
                        <h3 class="slider__conteiner-title">
                            MAIBAX
                        </h3>
                        <p class="slider__conteiner-text">
                            1 500 000 Р
                        </p>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>