<section class="table">
    <div class="container">
        <div class="table__conteiner">
            <table class="table__wrapp">
                <thead class='table__head'>
                    <tr class="table__head-line">
                        <th class='table__colum'>Дата</th>
                        <th class="table__colum">Номер</th>
                        <th class='table__colum'>Фото</th>
                        <th class="table__colum">Цена</th>
                        <th class="table__colum">Переформление</th>
                        <th class="table__colum">Продавец</th>
                    </tr>
                </thead>
                <tbody class='table__body'>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>
                    <tr class="table__line">
                        <td class='table__colum'>
                            16.08.21
                        </td>
                        <td class='table__colum'>
                            <a href="#" class='table__colum-link'>
                                <div class="number-block">
                                    <div class="left-block"><span class="char1">b</span><span
                                            class="char2">2</span><span class="char3">0</span><span
                                            class="char4">0</span><span class="char5">t</span><span
                                            class="char6">a</span></div>
                                    <div class="right-block"><span class="rus">RUS</span><span class="flag">
                                        </span><span class="region3"><span>1</span><span>9</span><span>7</span></span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class='table__colum'>
                            Нет фото
                        </td>
                        <td class='table__colum table__colum-price'>
                            1 500 000 Р
                        </td>
                        <td class='table__colum'>
                            Под ключ
                        </td>
                        <td class='table__colum'>
                            <a href="#" class="table__colum-link">
                                MAIBAX
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="row row__pagination">
            <div class="col-12">
                <nav>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
                        </li>
                        <li class="page-item "><a class="page-link page__active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Далее</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>