<section class="table">
    <div class="container">

        <table class="table__wrapp">
            <thead class='table__head'>
                <tr class="table__head-line">
                    <th class='table__colum'>Дата</th>
                    <th class="table__colum">Номер</th>
                    <th class='table__colum'>Фото</th>
                    <th class="table__colum">Цена</th>
                    <th class="table__colum">Переформление</th>
                    <th class="table__colum">Продавец</th>
                </tr>
            </thead>
            <tbody class='table__body'>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>
                <tr class="table__line">
                    <td class='table__colum'>
                        16.08.21
                    </td>
                    <td class='table__colum'>
                        <a href="#" class='table__colum-link'>
                            <div class="number-block">
                                <div class="left-block"><span class="char1">b</span><span class="char2">2</span><span
                                        class="char3">0</span><span class="char4">0</span><span
                                        class="char5">t</span><span class="char6">a</span></div>
                                <div class="right-block"><span class="rus">RUS</span><span class="flag"> </span><span
                                        class="region3"><span>1</span><span>9</span><span>7</span></span></div>
                            </div>
                        </a>
                    </td>
                    <td class='table__colum'>
                        Нет фото
                    </td>
                    <td class='table__colum table__colum-price'>
                        1 500 000 Р
                    </td>
                    <td class='table__colum'>
                        Под ключ
                    </td>
                    <td class='table__colum'>
                        <a href="#" class="table__colum-link">
                            MAIBAX
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="row">
            <div class="col-6">

            </div>
        </div>
    </div>
</section>