@import "../sass/vendor/reset";
@import "../sass/vendor/stylesheet";
@import "../sass/vars";

html{
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body{
    font-family: 'Gilroy';
    font-size: 1rem;
    background: $gradient;
}

/*-bootstrap-*/
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/_containers";

@import "../../assets/sass/blocks/page";
@import "../../assets/sass/blocks/header";
@import "../../assets/sass/blocks/filter";
@import "../../assets/sass/blocks/filter__block.scss";
@import "../../assets/sass/blocks/number__block";
